@use '../../assets/styles/variables.scss' as vars;


.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: vars.$white;
  border-radius: 8px;
  box-shadow: vars.$bx-16;

  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid vars.$accent;

    &:last-child {
      border-bottom: none;
    }

    .task-info {
      font-family: vars.$default-font;
      color: vars.$black;
    }

    .task-actions {
      button {
        background-color: vars.$accent;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        box-shadow: vars.$bx-accent;
        cursor: pointer;

        &:hover {
          background-color: vars.$dark-purple;
          color: vars.$white;
        }
      }
    }
  }
}