@use "sass:color";
@use  '../../../assets/styles/variables.scss' as variables;

$accent-04: rgba(variables.$accent, 0.04);

.button {
  border: none;
  outline: none;
  padding: 12px 48px;
  font-size: 20px;
  color: #fff;
  background-color: $accent-04;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  @media (max-width: variables.$mobile) {
    font-size: 16px;
    padding: 12px 38px;
  }

  &:hover {
    background-color: color.adjust(variables.$accent, $lightness: -0.7%);
  }

  &:main {
    background-color: rgba(255, 255, 255, 0.25);
    &:hover {
      background-color: $accent-04;
    }
  }
}
.wrapper {
    text-align: center;
}