@use '../../../assets/styles/variables.scss' as vars;


.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 16px 24px;
  background-color: vars.$accent;
  color: vars.$white;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 0px 15px vars.$white-yellow;

  .title {
    margin: 0;
    padding: 10px;
    font-size: 44px;
    font-weight: bold;
  }

  .settingsButton {
    background: transparent;
    border: none;
    color: vars.$white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }
  }
}
