@use '../../assets/styles/variables.scss' as vars;


.sidebar {
  width: 220px;
  background-color: vars.$accent;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 12px vars.$white-yellow;
  height: 100vh;
}

.accountButton {
  display: flex;
  align-items: center;
  gap: 10px;
  color: vars.$white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);

 background: rgba(29, 29, 34, 0.65); // основной цвет, просто светлее
 border: 1px solid rgba(255, 255, 255, 0.05); // минимально заметный контур

 border-radius: 8px;
 padding: 10px;

 box-shadow:
   inset 0 0 12px rgba(255, 255, 255, 0.04),
   0 4px 12px rgba(0, 0, 0, 0.5);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: vars.$black;
  }

  .taskButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: vars.$grey-light;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: vars.$black;
    transition: 0.2s;


    &:hover {
      background-color: #d5d5d5;
    }
  }

  .done {
    background-color: #a0e7a0;
    text-decoration: line-through;
  }
}
